* {
  padding: 0;
  margin: 0;
}
.section {
  margin-top: 20px;
}
.section-1 {
  width: 200px;
  height: 100px;
  background-color: red;
}
.section-2 {
  width: 300px;
  height: 100px;
  background-color: red;
  background-color: green;
  background-color: yellow;
}
.section-3 {
  width: 500px;
  height: 100px;
  background-color: red;
  background-color: green;
  background-color: pink;
}
.item {
  margin-bottom: 10px;
  height: 30px;
  background-color: blue;
}
.item-1 {
  width: 97px;
  width: 0.98958333in;
  width: 1in;
  width: 1pt;
}
.item-2 {
  width: 6in;
  width: 5in;
  width: 50%;
}
.item-3 {
  width: 1in;
}
.color {
  margin-bottom: 10px;
  height: 30px;
  width: 100px;
}
.color-1 {
  background-color: #172d2e;
}
.color-2 {
  background-color: rgba(23, 45, 46, 0.5);
}
.color-3 {
  background-color: #cc8d66;
}
.color-4 {
  width: 300;
  width: 76.5;
}
